<div style="margin-top:100px;" class="mb-4">
    <div class="container">
        <h1 class="text-center"> Patient Records </h1>

        <div class="row">
<div class="col-8 offset-2 mt-4">
        <div class="card">
            <div class="card-header text-center">
                Fetch Specific Patients Examination Records
            </div>
            <div class="card-body">
<form action="/utilities/examination" method="POST">
    <label for="patientselect">Patients</label>
    <select class="form-control mt-4" id="patientselect" name="patientselect">
      {{#each patient_info}}
      <option>{{patient_id}}</option>
      {{else}}
      <option>No patient data available. Please try again later! :(</option>
      {{/each}}
    </select>
   {{#if patient_info}} 
  <button type="submit" class="btn btn-primary mt-4">Submit</button>
  {{/if}}
</form>
</div>
</div>
</div>
</div>
<h1 class="text-center mt-4"> Your Patients </h1>

        {{#each patient_info}}
        <div class="row">
<div class="col-8 offset-2 mt-4">
        <div class="card">
            <div class="card-header text-center">
                Patient ID: {{patient_id}}
            </div>
            <div class="card-body">
                <ul class="list-group">
                                <li class="list-group-item">Name: <strong>{{first_name}} {{last_name}}</strong></li>
                                <li class="list-group-item">Age: <strong>{{age}}</strong></li>
                                <li class="list-group-item">Gender: <strong>{{gender}}</strong></li>
                                <li class="list-group-item">Phone Number: <strong>{{phone_number}}</strong></li>
                                <li class="list-group-item">Blood Group: <strong>{{blood_group}}</strong></li>
                                <li class="list-group-item">Address: <strong>{{address}}</strong></li>
                            </ul> 
                
            </div>
        </div>
    </div>
</div>
{{else}}
<p> You have no patients yet. </p>
{{/each}}


    </div>
</div>