{{!-- <div class="py-5 text-center text-white bg-primary">
<div class="container py-5">
<div class="row py-2">
<div class="mx-auto col-lg-10">
<h1 class="display-4 mb-4 ">Hello {{information.username}}</h1>
</div>
</div>
</div>
</div> --}}

<div class="container mt-5 py-5">
<div class="row">
    <div class="col-4">
    <div class="card">
    <div class="card-body">
        <h5 class="card-title pl-3"> Welcome, {{information.userid}}</h5>
        <p class="card-text pl-3"> Weather: {{condition}}, {{temperature}}° C</p>
        <p class="card-text pl-3">Date: {{date}}</p>
        <a href="#" class="btn btn-primary" style="display: flex; justify-content:center;">Lab report</a>
    </div>
    </div>
    </div>
    <div class="col-8">
        <div class="card text-center">
            <div class="card-header">
                Doctor Appointment History
            </div>
            <div class="card-body">
                <p class="card-text"> Access all your doctor visits record in one place.</p>
                <a href="#" class="btn btn-primary">Appointments History</a>
            </div>
        </div>
    </div>
</div>
<div class="row mt-1">
<div class="col-8 offset-4">
        <div class="card text-center">
            <div class="card-header">
                Bills
            </div>
            <div class="card-body">
                <div class="card-title"> Medical Bills </div>
                <p class="card-text"> You can access your medical bills here. </p>
                <a href="#" class="btn btn-primary">Medical Bills</a>
            </div>
            <div class="card-footer text-muted">
                Remember to pay your dues on time to avoid a penalty. :)
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
<div class="col-8 offset-4">
        <div class="card text-center">
            <div class="card-header">
                Prescription
            </div>
            <div class="card-body">
                <p class="card-text"> You can access your prescription here. </p>
                <a href="#" class="btn btn-primary">Prescription</a>
            </div>
            <div class="card-footer text-muted">
                Remember to take your medicine on time.
            </div>
        </div>
    </div>
</div>
</div>